---
layout: projects
---

<div class="container"></div>

<div class="project-container">
	<div class="titleBG">
		<h1>Projects</h1>
		<p>Some of the things I've worked on.</p>
		<br><center>
		<!-- <a href="#"><span class="label label-danger">Photography</span></a>
		<a href="#"><span class="label label-danger light">Coding</span></a></center> -->
	</div>
</div>


{% for post in site.posts %}
	{% if post.category == 'project' or post.category == 'experiment' %}

		<div class="container">
			<div class="project-box">
				<div class="row">
					<div class="col-md-3 project-image">
						<img src="{{ site.baseurl }}/images/{{ post.img }}/preview.jpg">
					</div>
					<div class="col-md-9 project-post">
						<h1>
							<a href="{{ site.baseurl }}{{ post.url }}">
								{{ post.title | }}
							</a>
						</h1><h4>{{ post.category | capitalize}}</h4>
						<p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ post.when }}</small></p><hr/>
						<!-- <div class="post"> -->
						{{ post.content | split:'<!--break-->' | first | strip_html | strip_newlines }}..

						<span class="readmoreLink">
						<a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
						</span>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>

	{% endif %}
{% endfor %}
