</div>
<div class="container">
 <div id="welcome-greeting"><h1>

	<script language="JavaScript">
	// <!--
	// var r_text = new Array ();
	// r_text[0] = "Здравствуйте";
	// r_text[1] = "Bonjour";
	// r_text[2] = "Guten Tag";
	// r_text[3] = "Buenos días";
	// r_text[4] = "Sup?";
	// r_text[5] = "你好";
	// r_text[6] = "नमस्ते";
	// var i = Math.floor(7*Math.random())

	// document.write(r_text[i]);

	// //-->
	</script>
	Welcome to Plover Electric
	</h1>
	<h2>
		Plover Electric is a humble outlet for various electronic and art projects. We make and sell kits, parts, and other electronic curios, all assembled and shipped from Brooklyn, New York.
	</h2>
	<hr />

   </div>
</div>

<div class ="container">
