    </div>
    <div class="showcase-wrapper sticky">
    <!-- <div class="showcase-text">
        {% for post in site.posts limit: 1 %}
        <span class="badge lazy"><smaller>FRESHLY MINTED</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
        {% endfor %}
    </div> -->
</div>

<script language="JavaScript">
    <!--
    var r_text = new Array ();
    r_text[0] = ["plover.jpg", ""];

    var i = Math.floor(0*Math.random())


    document.write('<style> \
        .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase/' + r_text[i][0] + '");} \
        </style><div class="showcase-credit">' + r_text[i][1] + '</div>');

    //-->
</script>

    <div class="container">

